@{
    ViewBag.Title = "Create";
}

<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="phoneNumber" class="sr-only">Enter Phone Number</label>
                    <input required type="text" class="form-control" placeholder="Enter Phone Number" id="phoneNumber" pattern="\d{10}" />
                </div>
                <input type="button" class="btn btn-info btn-fw mb-2" onclick="return GetCustomer()" value="Get" />
            </form>
            <div class="container">
                <div class="row">
                    <div class="col"><label for="customerName">Name </label> <input class="form-control" required disabled type="text" id="customerName" /></div>
                    <div class="col"><label for="phone">Phone </label> <input class="form-control" required disabled type="text" id="phone" /></div>
                    <div class="col"><label for="email">Email </label> <input class="form-control" required disabled type="text" id="email" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medicines List</h4>
            <table id="medicinesTable" class="table row-border table-striped hover order-column table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-align-center">Name</th>
                        <th class="text-align-center">Price</th>
                        <th class="text-align-center">MRP</th>
                        <th class="text-align-center">Order Level</th>
                        <th class="text-align-center">Stock Level</th>
                        <th class="text-align-center">Category</th>
                        <th class="text-align-center">Manufacturer</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<hr />
<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Items</h4>
            <table id="itemPurchaseTable" class="table row-border table-striped hover order-column table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-align-center">Name</th>
                        <th class="text-align-center">Qty</th>
                        <th class="text-align-center">Unit Price</th>
                        <th class="text-align-center">Manufacturer</th>
                        <th class="text-align-center">Price</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var medicineTable = $('#medicinesTable').DataTable({
            columnDefs: [
                {
                    targets: 0,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).attr('MedicineName', rowData.Name);
                        $(td).attr('Price', rowData.Price);
                        $(td).attr('MRP', rowData.MRP);
                        $(td).attr('Manufacturer', rowData.Manufacturer);
                    }
                },
                {
                    targets: 1,
                    className: 'dt-body-center'
                },
                {
                    targets: 2,
                    className: 'dt-body-center'
                },
                {
                    targets: 3,
                    className: 'dt-body-center'
                },
                {
                    targets: 4,
                    className: 'dt-body-center'
                },
                {
                    targets: 5,
                    className: 'dt-body-center'
                },
                {
                    targets: 6,
                    className: 'dt-body-center'
                }
            ],
            scrollY: 200,
            paging: false,
            scroller: {
                loadingIndicator: true
            },
            createdRow: function (row, data) {
                $(row).attr('id', data.Id);
            },
            "ajax": {
                "url": "GetMedicines",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name" },
                {
                    "data": "Price", render: function (data) {
                        return "&#x20b9; " + data;
                    }
                },
                {
                    "data": "MRP", render: function (data) {
                        return "&#x20b9; " + data;
                    }
                },
                { "data": "OrderLevel" },
                { "data": "StockLevel" },
                { "data": "CategoryName" },
                { "data": "ManufacturerName" },
                {
                    "data": "Id", "render": function (data) {
                        return "<a onclick = addToPurchase('" + data + "') class='btn-gradient-success btn-fw btn-sm mdi mdi-plus'>"
                    },
                    "orderable": false,
                    "width": "10px"
                }
            ],
            "language": {
                "emptyTable": "No data found, please add new <b>Medicine</b> from the menu."
            }
        });

        function addToPurchase(id) {
            var itemPurchaseTable = $("#itemPurchaseTable");
            var row = $("#" + id);
            medicineTable.row(row).remove().draw(false);
            return false;
        }

        function GetCustomer() {
            var phone = $("#phoneNumber");
            let isValidPhone = phone[0].checkValidity();
            if (isValidPhone) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Billing/GetCustomer",
                    data: {
                        phoneNumber: phone.val()
                    },
                    success: function (data) {
                        if (data.success) {
                            document.getElementById("customerName").value = data.customer.Name;
                            document.getElementById("phone").value = data.customer.Phone;
                            document.getElementById("email").value = data.customer.MailId;
                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                            document.getElementById("customerName").value = "";
                            document.getElementById("phone").value = "";
                            document.getElementById("email").value = "";
                        }
                    }
                });
            } else {
                alert('please enter valid phone number');
            }
        }
    </script>
}

