@{
    ViewBag.Title = "Create";
}

<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="phoneNumber" class="sr-only">Enter Phone Number</label>
                    <input required type="text" class="form-control" placeholder="Enter Phone Number" id="phoneNumber" pattern="\d{10}" />
                </div>
                <input type="button" class="btn btn-info btn-fw mb-2" onclick="return GetCustomer()" value="Get" />
            </form>
            <div class="container">
                <div class="row">
                    <div class="col"><label for="customerName">Name </label> <input class="form-control" required disabled type="text" id="customerName" /></div>
                    <div class="col"><label for="phone">Phone </label> <input class="form-control" required disabled type="text" id="phone" /></div>
                    <div class="col"><label for="email">Email </label> <input class="form-control" required disabled type="text" id="email" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medicines List</h4>
            <table id="medicinesTable" class="table row-border table-striped hover order-column table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-align-center">Name</th>
                        <th class="text-align-center">Price</th>
                        <th class="text-align-center">MRP</th>
                        <th class="text-align-center">Stock Level</th>
                        <th class="text-align-center">Order Level</th>
                        <th class="text-align-center">Category</th>
                        <th class="text-align-center">Manufacturer</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<hr />
<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Items</h4>
            <table id="itemPurchaseTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-align-center">#</th>
                        <th class="text-align-center">Name</th>
                        <th class="text-align-center">Qty</th>
                        <th class="text-align-center">Unit Price</th>
                        <th class="text-align-center">Manufacturer</th>
                        <th>Ammount</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-align-right">Total</td>
                        <td id="totalAmmount" class="text-align-center" total="0">&#x20b9;0</td>
                    </tr>
                </tfoot>
            </table>
            <div class="container text-align-center margin-around-5px">
                <button onclick="checkOut()" type="button" class="btn btn-outline-info btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Check Out
                </button>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var customerId;
        var serialNoCounter = 0;
        var medicineTable = $('#medicinesTable').DataTable({
            columnDefs: [
                {
                    targets: 0,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                },
                {
                    targets: 1,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                },
                {
                    targets: 2,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                },
                {
                    targets: 3,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                },
                {
                    targets: 4,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                },
                {
                    targets: 5,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                },
                {
                    targets: 6,
                    className: 'dt-body-center',
                    createdCell: function (td, cellData) {
                        $(td).attr('id', cellData);
                    }
                }
            ],
            scrollY: 200,
            paging: false,
            scroller: {
                loadingIndicator: true
            },
            createdRow: function (row, data) {
                $(row).attr('id', data.Id);
            },
            "ajax": {
                "url": "GetMedicines",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name" },
                {
                    "data": "Price", render: function (data) {
                        return "&#x20b9; " + data;
                    }
                },
                {
                    "data": "MRP", render: function (data) {
                        return "&#x20b9; " + data;
                    }
                },
                { "data": "StockLevel" },
                { "data": "OrderLevel" },
                { "data": "CategoryName" },
                { "data": "ManufacturerName" },
                {
                    "data": "Id", "render": function (data) {
                        return "<a onclick = addToPurchase('" + data + "') class='btn-gradient-success btn-fw btn-sm mdi mdi-plus'>"
                    },
                    "orderable": false,
                    "width": "10px"
                }
            ],
            "language": {
                "emptyTable": "No other medicines found, please add new <b>Medicine</b> from the menu."
            }
        });

        function addToPurchase(id) {

            var itemPurchaseTable = $("#itemPurchaseTable");
            var row = $("#" + id);
            medicineTable.row(row).remove().draw(false);

            //getting values
            let medicineName = row[0].cells[0].id;
            let price = row[0].cells[1].id;
            let mrp = row[0].cells[2].id;
            let stockLevel = row[0].cells[4].id;
            let manufacturer = row[0].cells[6].id;

            let serialnoTd = "<td class='text-align-center'>" + (serialNoCounter = serialNoCounter + 1) + "</td>";
            let medicineNameTd = "<td class='text-align-center'>" + medicineName + "</td>";
            let qtyTd = "<td class='text-align-center'><input onKeyDown='return false' onchange='change(this)' class='qty-cell' id='qty' type='number' value='1' min=1 max='" + stockLevel + "' ></td>";
            let unitPriceTd = "<td unitPrice ='" + price + "'class='text-align-center'>&#x20b9;" + price + "</td>";
            let mrpTd = "<td style='display: none;' mrp ='" + mrp + "'>&#x20b9;" + mrp + "</td>";
            let manufacturerTd = "<td class='text-align-center'>" + manufacturer + "</td>";

            let ammount = "<td data-ammount='" + price + "' class='text-align-center'>&#x20b9;" + price + "</td>";

            let rowItem = "<tr id='" + id + "'>" + serialnoTd + medicineNameTd + qtyTd + unitPriceTd + mrpTd + manufacturerTd + ammount + "</tr>";
            itemPurchaseTable.append(rowItem); 
            //scroll to purchase table
            itemPurchaseTable[0].scrollIntoView({
                behavior: 'smooth'
            });
            totalAmmountFunc();
            return false;
        }

        function change(quantityObj) {
            let unitPriceObj = $(quantityObj).closest('td').siblings()[2];
            let unitPrice = $(unitPriceObj).attr('unitprice');
            let amount = $(quantityObj).closest('td').siblings()[4];
            let qty = Number(quantityObj.value);

            subTotal = qty * unitPrice;
            $(amount).attr("data-ammount", subTotal);
            $(amount).html("&#x20b9;" + subTotal.toFixed(2));
            totalAmmountFunc();
        }

        function totalAmmountFunc() {
            let price = 0;
            $("td[data-ammount]").each(function () {
                let p = $(this).attr("data-ammount")
                price = price + Number(p);
            });
            let totalAmmount = $("#totalAmmount");
            totalAmmount.attr("total", price);
            totalAmmount.html("&#x20b9;" + price.toFixed(2));
        }

        function GetCustomer() {
            var phone = $("#phoneNumber");
            let isValidPhone = phone[0].checkValidity();
            if (isValidPhone) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Invoice/GetCustomer",
                    data: {
                        phoneNumber: phone.val()
                    },
                    success: function (data) {
                        if (data.success) {
                            customerId = data.customer.Id;
                            document.getElementById("customerName").value = data.customer.Name;
                            document.getElementById("phone").value = data.customer.Phone;
                            document.getElementById("email").value = data.customer.MailId;
                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                            document.getElementById("customerName").value = "";
                            document.getElementById("phone").value = "";
                            document.getElementById("email").value = "";
                        }
                    }
                });
            } else {
                alert('please enter valid phone number');
            }
        }

        function checkOut() {
            if ($('#itemPurchaseTable tr').length > 2) {
                if (customerId) {
                    var itemTableData = new Array();
                    
                    
                    $('#itemPurchaseTable tr').each(function (row, tr) {
                        itemTableData[row] = {
                            "MedicineFk": $(tr).attr('id'),
                            "UnitPrice": $(tr).find('td:eq(3)').attr('unitPrice'),
                            "MRP": $(tr).find('td:eq(4)').attr('mrp'),
                            "Quantity": $(tr).find('td:eq(2)').find(':input[type="number"]').val()
                        }
                    });

                    //removing first last row since it is a html table mark up i.e., table header and total row of item purchase table
                    itemTableData.shift();
                    itemTableData.pop();

                    var order = {
                        "CustomerFk": customerId,
                        "PurchasedItems": itemTableData
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Invoice/CreateInvoice",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(order),
                        success: function (data) {
                            if (data.success) {
                                location.reload();
                            }
                        }
                    });
                }
                else {
                    alert('Fill Customer Details');
                }
            }
            else {
                alert('Please add medicines to checkout');
            }
        }
    </script>
}

