
@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintInvoice</title>
    @Html.Partial("_StyleSheetsForPrintWindow")
</head>
<body onload="window.print()">
    <div>
        hi
    </div>
</body>
</html>
