<button class="btn btn-gradient-primary btn-sm mdi mdi-plus" data-target="#addAppointment" data-toggle="modal">Add New</button>
<hr />
<div class="container">
    <div class="row">
        @Html.Partial("_AddAppointment")
        <div class="col-lg-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Appointments</h4>
                    <table id="appointmentsTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>DOA</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script>
        function Appointment() {
            var submitButtonValue = $("#appointmentButton").val();
            switch (submitButtonValue) {
                case "Add":
                    addAppointment();
                    break;
                case "Update":
                    updateAppointment();
                    break;
            }
        }

        $(function () {
            $("#dateOfAppointment").datetimepicker({
                icons: {
                    time: "mdi mdi-clock",
                    date: "mdi mdi-calendar",
                    up: "mdi mdi-arrow-up-bold-circle",
                    down: "mdi mdi-arrow-down-bold-circle"
                },
                format: 'DD/MM/YYYY HH:mm'
            });
        });

        $('.modal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
            setButtonValueBasedOnAppointmentId();
            //Removes validation from input-fields
            $('.input-validation-error').addClass('input-validation-valid');
            $('.input-validation-error').removeClass('input-validation-error');
            //Removes validation message after input-fields
            $('.field-validation-error').addClass('field-validation-valid');
            $('.field-validation-error').removeClass('field-validation-error');
        });

        var appointMentTable =  $('#appointmentsTable').DataTable({
                "ajax": {
                    "url": "GetAppointments",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Gender" },
                    { "data": "DOA" },
                    { "data": "Phone" },
                    { "data": "MailId" },
                    {
                        "data": "Id", "render": function (data) {
                            return "<button onclick = getAppointment('" + data + "')  class='btn btn-gradient-primary btn-sm mdi mdi-lead-pencil'style='margin-right:10px' > <button onclick = deleteAppointment('" + data +"') class='btn btn-gradient-primary btn-sm  mdi mdi-delete'>"
                        },
                        "orderable": false,
                        "width": "10px"
                    }
                ],
                "language": {
                    "emptyTable": "No data found, please click on <b>Add New</b> Button"
                }
            });
        function setButtonValueBasedOnAppointmentId(id) {
            if (id) {
                $("#appointmentButton").val("Update");
            } else {
                $("#appointmentButton").val("Add");
            }
        }

        function addAppointment() {

            $.validator.unobtrusive.parse(addAppointmentForm);
            if ($("#addAppointmentForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: addAppointmentForm.action,
                    data: $("#addAppointmentForm").serialize(),
                    success: function (data) {
                        if (data.success) {
                            $('.modal').modal('hide');
                            appointMentTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className:"success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function getAppointment(appointmentId) {
            $.ajax({
                type: "GET",
                url: "GetAppointment",
                data: {
                    id: appointmentId
                },
                success: function (data) {
                    if (data.success) {
                        $("#appointmentId").val(data.appointee.Id);
                        $("#appointeeName").val(data.appointee.Name);
                        $("#appointeeGender").val(data.appointee.Gender);
                        $("#appointeePhone").val(data.appointee.Phone);
                        $("#appointeeMailId").val(data.appointee.MailId);
                        $("#appointeeDOA").val(data.appointee.DOA);
                        setButtonValueBasedOnAppointmentId(data.appointee.Id);
                        $('.modal').modal('show');
                    }
                },
                error: function () {
                    alert("something goes wrong!");
                }
            });
            return false;
        }

        function updateAppointment() {
            $.validator.unobtrusive.parse(addAppointmentForm);
            if ($("#addAppointmentForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: "UpdateAppointment",
                    data: $("#addAppointmentForm").serialize(),
                    success: function (data) {
                        if (data.success) {
                            $('.modal').modal('hide');
                            appointMentTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function deleteAppointment(appointmentId) {
            if (confirm("Want to Delete?")) {
                $.ajax({
                    type: "POST",
                    url: "DeleteAppointment",
                    data: {
                        "appointmentId": appointmentId
                    },
                    success: function (data) {
                        if (data.success) {
                            $('.modal').modal('hide');
                            appointMentTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
                return false;
            }
        }

        function resetAddAppointmentForm() {
            $("#addAppointmentForm").trigger("reset");
        }
    </script>
}