
@{
    ViewBag.Title = "Appointment";
}
<a class="btn btn-gradient-primary btn-fw" href="@Url.Action("AddAppointment","Appointment",new { Area="Admin"})">Add Appointment</a>
<hr />

<div class="row">
    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Appointments</h4>
                <table id="appointmentsTable" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> First name </th>
                            <th> Product </th>
                            <th> Amount </th>
                            <th> Deadline </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#appointmentsTable').DataTable();
        });
    </script>
}
