@{
    ViewBag.Title = "Add New Medicine";
}

<button class="btn btn-outline-primary btn-fw mdi mdi-plus" type="button" data-target="#addCategory" data-toggle="modal">Add Category</button>
<button class="btn btn-outline-primary btn-fw mdi mdi-plus" type="button" data-target="#addManufacturer" data-toggle="modal">Add Manufacturer</button>
<hr />

@Html.Partial("_AddNewMedicine")
@Html.Partial("_AddCategory")
@Html.Partial("_AddManufacturer")
@section scripts{
    <script>
        function addCategory() {
            $.validator.unobtrusive.parse(categoryForm);
            if ($("#categoryForm").valid()) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Admin/Category/Add",
                        data: $("#categoryForm").serialize(),
                        success: function (data) {
                            if (data.success) {
                                $('.modal').modal('hide');

                                $.notify(data.message,
                                    {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                            }
                        },
                        error: function () {
                            alert("something goes wrong!");
                        }
                    });
            }
            return false;
        }

        function addManufacturer() {
            $.validator.unobtrusive.parse(manufacturerForm);
            if ($("#manufacturerForm").valid()) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Admin/Manufacturer/Add",
                        data: $("#manufacturerForm").serialize(),
                        success: function (data) {
                            if (data.success) {
                                $('.modal').modal('hide');
                                location.reload();
                                $.notify(data.message,
                                    {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                            }
                        },
                        error: function () {
                            alert("something goes wrong!");
                        }
                    });
            }
            return false;
        }

        function resetCategoryForm() {
            $("#categoryForm").trigger("reset");
        }

        function resetManufacturerForm() {
            $("#manufacturerForm").trigger("reset");
        }

    </script>

}
