
.calendar-icon {
    padding: 10px;
    background: #79777a;
    color: white;
    min-width: 50px;
    text-align: center;
    line-height: 46px;
}

.text-align-center{
    text-align:center
}

.text-align-right {
    text-align: right
}

.qty-cell{
    width:35px;
}

.margin-around-5px{
    margin:5px;
}
