.field-validation-error {
    color:#e80c4d;
    font-weight:bold;
}

input.field-validation-error {
    border: 1px solid #e80c4d;
}

.calendar-icon {
    padding: 10px;
    background: #79777a;
    color: white;
    min-width: 50px;
    text-align: center;
    line-height: 38px;
}